@CHARSET "ISO-8859-1";

header {
	background-color: #374a4a;
	margin: -2em -1em 0em -1em;
	display: block;
}

h1 {
	font-size: 3em;
	padding: .2em 0em 0em 1em;
	color: #ffffff;
}

h2 {
	font-size: 1.25em;
	margin-top: -2em;
	padding: 0em 0em 0em 5em;
	color: #88d971;
}

#run_input {
	width= 65em;
}

table {
	width: 100%;
	float: center;
	text-align: center;
}

th {
	background-color: #e71e18;
	color: #ffffff;
}

tr {
	background-color: #374a4a;
	color: #ffffff;
}